<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Home</h1>
  <% if (!locals.currentUser){ %>
    <p>You are not logged in.</p>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  <% } %>
  <%if (locals.currentUser) { %>
    <p>You are logged in</p>
    <p>Welcome <%= locals.currentUser.firstname %> <%= locals.currentUser.lastname %></p>
    <a href="/logout">Logout</a>
    <% if (!locals.currentUser.membership) {%>
      <a href="/membership">Become a member now!</a>
    <%}%>
    <% if (locals.currentUser.membership === 'member') { %>
      <% if (!locals.currentUser.admin) {%>
        <a href="/admin">Become an admin</a>
        <p>You are a member!</p>
      <%}%>
      <% if (locals.currentUser.admin) {%>
        <p>You are an admin!</p>
      <%}%>
    <a href="/message">Create new message</a>
    <%}%>
  <%}%>
  <br>
  <%- include('messages.ejs') %>
</body>
</html>